/* GENERAL */
.fontsize { font-size: 11pt; }
.iconsize { width: 44px; height: 44px}
.itemsize { height: 44px; width: 50%; line-height: 15px }
.itemsize4 { height: 44px; width: 25%; line-height: 15px }

body {
    display: flex;
    justify-content:center;
    align-content:center;
}

.hidden {
    display: none;
}

ul {
    padding-left: 20px;
}

p, hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

hr {
    border: 0px;
    border-top: 1px solid gray;
}

p:first-child {
    margin-top: 1em;
}

/* SECTIONS */
.section-container {
    border: 8px solid;
    border-radius: 8px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans', 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    width:100%;
    margin-bottom:8px;
    page-break-inside: avoid;
}

.section-content {
    padding:8px;
    padding-bottom: 0;
    border-radius: 8px;
    margin-top: 0;
    background-color: white;
    border-color: inherit;
    font-size: inherit;
}

.section-title {
    height: 32px;
    padding-left: 8px;
    padding-right: 8px;
    font-family: Lora, 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    font-variant: small-caps;
    font-weight: bold;
    background-color: inherit;
    color: white;
    font-size: 16pt;
}

.float-right {
    float: right;
}

.section-subtitle, #modal-reference {
    display: block;
    margin-bottom: 8px;
    font-size: inherit;
    font-style: italic;
}

#modal-reference {
    margin-top: 1em;
}

.section-row {
    font-size: inherit;
}

.section-row:before, .section-row:after{
    display: table;
    content: " ";
    clear: both;
}

.section-row + .section-subtitle {
    margin-top: 1em;
}

/* ITEMS */
.item {
    margin-bottom: 12px;
    float: left;
    display: flex;
    font-size: inherit;
    vertical-align: top;
    box-sizing: border-box;
}

.item-icon {
    flex: 0 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    border-radius: 4px;
    display: inline-block;
    margin-right: 4px;
}

.item-title {
    font-weight: bold;
    font-size: inherit;
}

.item-desc {
    font-style: italic;
    font-size: inherit;
}

.item-text-container {
    flex: 1;
    padding-right: 4px;
    font-size: inherit;
    height: 100%;
}

/* COLORS */
#section-action, #section-action .item-icon {
    background-color: #227093;
    border-color: #227093;
}
#section-action .text {
    color: #227093;
}

#section-movement, #section-movement .item-icon {
    background-color: #227093;
    border-color: #227093;
}
#section-movement .text {
    color: #227093;
}

#section-complex-action, #section-complex-action .item-icon {
    background-color: #b33939;
    border-color: #b33939;
}
#section-complex-action .text {
    color: #b33939;
}

#section-free-action, #section-free-action .item-icon {
    background-color: #833471;
    border-color: #833471;
}
#section-free-action .text {
    color: #833471;
}

#section-quick-action, #section-quick-action .item-icon {
    background-color: #833471;
    border-color: #833471;
}
#section-quick-action .text {
    color: #833471;
}

#section-immediate-action, #section-immediate-action .item-icon {
    background-color: #833471;
    border-color: #833471;
}
#section-immediate-action .text {
    color: #833471;
}

#section-diverses-action, #section-diverses-action .item-icon {
    background-color: #833471;
    border-color: #833471;
}
#section-diverses-action .text {
    color: #833471;
}

#section-condition, #section-condition .item-icon {
    background-color: #218c74;
    border-color: #218c74;
}
#section-condition .text {
    color: #218c74;
}

#section-battle, #section-battle .item-icon {
    background-color: #d35400;
    border-color: #d35400;
}
#section-battle .text {
    color: #d35400;
}

/* PRINT */
@media print{
    .item-icon{
        -webkit-print-color-adjust : exact;
    }

    .section-title{
        -webkit-print-color-adjust : exact;
    }
}